<h1><%= @category %> Podcast Feeds</h1>

<section class="clearfix row">

	<section class="col-md-8" >
		<ul class="shows">
		    <% @feeds.reverse.each do |feed| %>
		        <li class="row" >	
		        <%= image_tag feed.image, width: '75px', :class => "pull-left img-circle", :style => "margin:5px;" %>
		        <h3><%= link_to feed.title, feed, method: :post %></h3>
		        <p><%= truncate(feed.description, length: 150) %></p>
		        <label class="label label-info pull-right" ><%= link_to feed.category, tag_path(:params => {:category => feed.category}) %></label>
		        </li>
		    <% end %>
		</ul>
		
	</section>


	<section class="col-md-4" >
		

	</section>

</section>
